form.single > div
  margin-bottom: 1.5rem

  > :not(label)
    margin-bottom: 0

  > *
    display: block
    width: 100%

  > p
    font-size: 1.3rem
    color: lighten($text-color, 30%)

  > p.error
    display: none
