body > header
  background-color: #222
  color: #FFF
  height: 46px
  
  > a
    &.menu-toggle,
    &.user-settings
      @extend %a-header-icon
      
    &.menu-toggle
      float: left
      @media desktop
        display: none
      
    &.user-settings
      float: right
