body
  > nav:first-child
    background-color #222
    color #FFF
    height 100%
    width 300px
    
    > h2
      padding 10px
      margin 0
    
    > ul
      margin 0
      list-style none
      background-color #282828
      height 100%
      
      > li
        margin 0
        color #CCC
        font-weight 600
        
        :hover
          color #FFF
          background-color #222
            
        > a
          display block
          padding 10px
          text-decoration none
          color inherit
